@model PhysicianFormModel

<div class="container">
    <div class="row">
        <div class="offset-lg-2 col-lg-8 col-sm-12">
            <h2 class="heading-margin text-center">@ViewData["Title"]</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="MedicalCenterId">Cơ sở</label>
                    <select asp-for="MedicalCenterId" class="form-control">
                        @foreach (var medicalCenter in Model.MedicalCenters)
                        {
                            <option value="@medicalCenter.Id">
                                @medicalCenter.Name, @medicalCenter.Address, @medicalCenter.City, @medicalCenter.Country
                            </option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="JoiningCode">Mã cơ sở</label>
                    <input asp-for="JoiningCode" class="form-control" placeholder="">
                    <span asp-validation-for="JoiningCode" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <a class="btn btn-primary" asp-controller="MedicalCenters" asp-action="Add">Chọn cơ sở</a>
                </div>
                <div class="form-group">
                    <label asp-for="FullName">Họ và tên</label>
                    <input asp-for="FullName" class="form-control" placeholder="John Johnson, Daniel Smith...">
                    <span asp-validation-for="FullName" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PracticePermissionNumber">Số giấy phép hành nghề</label>
                    <input asp-for="PracticePermissionNumber" class="form-control" placeholder="">
                    <span asp-validation-for="PracticePermissionNumber" class="small text-danger"></span>
                </div>
                @if (User.IsAdmin())
                {
            <div class="form-group">
                <label asp-for="IsApproved">Tình trạng</label>
                <select asp-for="IsApproved" class="form-control">
                    <option value="False">Chưa duyệt</option>
                    <option value="True">Đã duyệt</option>
                </select>
            </div>}
                <div class="form-group">
                    <label asp-for="Gender">Giới tính</label>
                    <select asp-for="Gender" class="form-control">
                        <option value="Male">Nam</option>
                        <option value="Female">Nữ</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl">Hình ảnh</label>
                    <input asp-for="ImageUrl" class="form-control" placeholder="https://example.com">
                    <span asp-validation-for="ImageUrl" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExaminationPrice">Chi phí $</label>
                    <input asp-for="ExaminationPrice" class="form-control" placeholder="">
                    <span asp-validation-for="ExaminationPrice" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsWorkingWithChildren">Thú cưng dưới 1 tháng tuổi</label>
                    <select asp-for="IsWorkingWithChildren" class="form-control">
                        <option value="True">Có</option>
                        <option value="False">Không</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="SpecialityId">Chuyên môn</label>
                    <select asp-for="SpecialityId" class="form-control">
                        @foreach (var speciality in Model.Specialities)
                        {
            <option value="@speciality.Id">@speciality.Name</option>}
                    </select>
                </div>
                <input class="btn btn-primary" type="submit" value="Lưu" />
            </form>
        </div>
    </div>
</div>