@model AllPhysiciansQueryModel

@{ ViewData["Title"] = "Bác sĩ"; 
}
<form method="get">
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="SearchTerm">Tìm theo tên </label>
            <input asp-for="SearchTerm" class="form-control" placeholder="John Johnson, ...">
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Speciality">Chuyên môn</label>
                <select asp-for="Speciality" class="form-control">
                    <option value="" selected>Tất cả</option>
                    @foreach (var speciality in Model.Specialities)
                    {
                        <option value="@speciality">@speciality</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="MedicalCenter">Cơ sở </label>
                <select asp-for="MedicalCenter" class="form-control">
                    <option value="" selected>Tất cả</option>
                    @foreach (var medicalCenter in Model.MedicalCenters)
                    {
        <option value="@medicalCenter">@medicalCenter</option>
}
                </select>
            </div>
        </div>
        @if (User.IsAdmin())
        {
            <div class="form-group col-md-3">
                <label asp-for="Approved"></label>
                <select asp-for="Approved" class="form-control">
                    <option value="true">Đã được phê duyệt</option>
                    <option value="false">Chưa được phê duyệt</option>
                </select>
            </div>
        }
        @if (!User.IsAdmin())
        {
            <div class="form-group col-md-3">
                <label asp-for="Sorting">Tìm kiếm theo</label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Ngày tham gia</option>

                    <option value="3">Tên (tăng dần)</option>
                    <option value="4">Tên (Giảm dần)</option>
                </select>
            </div>
        }
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <input type="submit" class="btn btn-primary" value="Tìm kiếm">
        </div>
    </div>
</form>

<partial name="_PhysiciansPartial" model="@Model.Physicians" />

@{ var previousPage = Model.CurrentPage - 1;

                if (previousPage < 1)
                {
                    previousPage = 1;
                }

                var maxPage = Math.Ceiling((double)Model.TotalPhysicians / AllPhysiciansQueryModel.PhysiciansPerPage); }

@if (!Model.Physicians.Any())
{
    <h2 class="text-center">Không có bác sĩ nào được tìm thấy !</h2>
}

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Physicians"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-speciality="@Model.Speciality"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@Model.Sorting"><<</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary float-right @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)"
           asp-controller="Physicians"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-speciality="@Model.Speciality"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@Model.Sorting">>></a>
    </div>
</div>