@model MedicReach.Models.Appointments.AppointmentFormModel;
@{ ViewData["Title"] = "Đặt lịch"; }

@section Styles {
    <link href="~/css/date-picker.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/84fee8031d.css">
}

<div class="container-fluid">
    <h2 class="heading-margin text-center">@ViewData["Title"]</h2>
    <div class="row justify-content-center mx-0">
        <div class="col-lg-6">
            <div class="card">
                <form autocomplete="off">
                    <div class="card-header">
                        <div class="mx-0 mb-0 row justify-content-sm-center justify-content-start px-1">
                            <input type="text" id="dp1" class="datepicker" placeholder="&#xf073; Chọn ngày tháng" style="font-family:Arial, FontAwesome, white" name="Ngày" readonly />
                        </div>
                    </div>
                    <h6 class="text-center">
                        Khung giờ đã có sẵn ở dưới.
                    </h6>
                    <div class="card-body p-3 p-sm-4">
                        <div class="row text-center mx-0">
                            <div class="col-md-3 col-4 my-1 px-2">
                                <div class="cell py-1">09:00</div>
                            </div>
                            <div class="col-md-3 col-4 my-1 px-2">
                                <div class="cell py-1">09:30</div>
                            </div>
                            <div class="col-md-3 col-4 my-1 px-2">
                                <div class="cell py-1">10:00</div>
                            </div>
                            <div class="col-md-3 col-4 my-1 px-2">
                                <div class="cell py-1">10:30</div>
                            </div>
                        </div>
                        <div class="row text-center mx-0">
                            <div class="col-md-3 col-4 my-1 px-2">
                                <div class="cell py-1">11:00</div>
                            </div>
                            <div class="col-md-3 col-4 my-1 px-2">
                                <div class="cell py-1">11:30</div>
                            </div>
                            <div class="col-md-3 col-4 my-1 px-2">
                                <div class="cell py-1">14:00</div>
                            </div>
                            <div class="col-md-3 col-4 my-1 px-2">
                                <div class="cell py-1">14:30</div>
                            </div>
                        </div>
                        <div class="row text-center mx-0">
                            <div class="col-md-3 col-4 my-1 px-2">
                                <div class="cell py-1">15:00</div>
                            </div>
                            <div class="col-md-3 col-4 my-1 px-2">
                                <div class="cell py-1">15:30</div>
                            </div>
                            <div class="col-md-3 col-4 my-1 px-2">
                                <div class="cell py-1">16:00</div>
                            </div>
                            <div class="col-md-3 col-4 my-1 px-2">
                                <div class="cell py-1">16:30</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-6">
            <form method="post" enctype="multipart/form-data">
                <input asp-for="@Model.PhysicianId" value="@Model.PhysicianId" class="form-control" hidden>
                <input asp-for="@Model.PatientId" value="@Model.PatientId" class="form-control" hidden>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Ngày:</label>
                    <div class="col-sm-10">
                        <div id="selectedDate" asp-for="@Model.Date" class="form-control" hidden></div>
                        <input asp-for="@Model.Date" value="" class="form-control" required readonly />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Giờ:</label>
                    <div class="col-sm-10">
                        <div id="selectedTime" asp-for="@Model.Hour" class="form-control" hidden></div>
                        <input asp-for="@Model.Hour" value="" class="form-control" required readonly />
                        <span asp-validation-for="Hour" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mt-4">
                    <div class="col-sm-10">
                        <button class="btn btn-lg btn-primary" type="submit">Đặt lịch</button>
                    </div>
                </div>
            </form>
            <div asp-validation-summary="All" data-valmsg-summary="true"></div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script src="~/js/date-picker.js" asp-append-version="true"></script>
    <script type="text/javascript">$.validator.setDefaults({
            ignore: ""
        })</script>
}